*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html, body {
  color: #484847;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  line-height: 1.6;
}

a {
  color: inherit;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  -webkit-text-fill-color: --var(--text-color) !important;
}
