.ChapterPage {
  display: flex;
  flex-direction: column;
}

.ChapterPage-pages {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: $spacing-regular;
}

.ChapterPage-page {
  margin-bottom: 40px;
}

.ChapterPage-actions {
  margin: 0 var(--spacing-regular) var(--spacing-large);
}

.ChapterPage-chapter {
  margin: var(--spacing-xlarge) var(--spacing-regular) 0;
}

.ChapterPage-title {
  margin: 0 var(--spacing-regular) var(--spacing-xlarge);
}

.ChapterPage-image {
  max-width: 100%;
  max-height: 100%;
}
