.MangaPage {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}

.MangaPage-search {
  margin-bottom: var(--spacing-large);
}

.MangaPage-title {
  margin-bottom: var(--spacing-regular);
}
