.MangaListPage {
  padding-top: 120px;
  padding-bottom: var(--spacing-large);
}

.MangaListPage-search {
  margin-bottom: 120px;
}

.MangaListPage-title,
.MangaListPage-mangas {
  margin-bottom: var(--spacing-regular);
}
