.App {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-content {
  flex-grow: 1;
}

.App-footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.App--dark {
  --background-color: $color-black;
  --text-color: white;
}
