.Heading {
  &, h1, h2, h3, h4 {
    color: var(--text-color);
    font-size: $font-size-regular;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include media('>tablet') {
      font-size: $font-size-large;
    }
  }
}
