.Nav {
  @include window-spacing;

  align-items: center;
  display: flex;
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.Nav-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.Nav-brand {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.Nav-links {
  display: flex;
  font-size: var(--font-size-small);
}
