.RegisterForm {
  --text-color: $color-text;

  background: white;
  box-shadow: 0 10px 80px 1px rgba(0,0,0,0.70);
  padding: $spacing-regular;
  position: relative;

  &::before {
    background-image: url('/images/logo.png');
    content: '';
    height: 110px;
    left: -38px;
    position: absolute;
    top: -38px;
    width: 132px;
  }
}

.RegisterForm-label {
  color: rgba($color-text, .6);
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.RegisterForm-input {
  margin-bottom: $spacing-regular;
}

.RegisterForm-information {
  color: $color-text;
  font-size: $font-size-small;
  margin-bottom: $spacing-small;
}

.RegisterForm-submit {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
